.card {
	display: flex;
	flex-direction: column;
	padding: 0 1rem 0 1rem;
	border: solid 2px black;
	border-radius: 10px;
	text-align: center;
	height: auto;
}

.horizontal-line {
	display: none;
	width: 1px;
	height: 100px;
}

.high-low {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	margin: none;
	text-align: center;
}

.mg-0 {
	margin: 0;
}

.wind {
	margin-top: 1rem;
}

.minh-3 {
	min-height: 3rem;
}

.summary {
	min-height: 3rem;
}

.weather-img {
	margin-inline: auto;
	max-height: 150px;
	max-width: 150px;
}

@media screen and (max-width: 728px) {
	.summary {
		max-width: 4rem;
	}
	.card {
		margin-inline: 0.5rem;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		flex-direction: row;
	}

	.high-low {
		margin-left: 0.5rem;
	}

	.horizontal-line {
		display: block;
	}
	.wind {
		margin-top: 0rem;
	}
}

@media screen and (max-width: 500px) {
	.high-low {
		flex-direction: column;
	}
	.wind {
		margin-left: 0.5rem;
	}
}
