body {
	background-color: rgb(220, 220, 220);
}

.box {
	padding: 2rem;
}

.row-fb {
	align-items: center;
	display: flex;
	flex-direction: row;
}

.col-fb {
	display: flex;
	flex-direction: column;
}

.gap {
	gap: 0.5rem;
}

.mg-0 {
	margin: 0px;
}

.centered {
	align-items: center;
	justify-content: center;
}

/* Search and button div */
.search {
	color: black;
	height: 1.5rem;
	margin-bottom: 1rem;
	background: transparent;
	border: none;
	border-radius: 10px;
	backdrop-filter: blur(2px) brightness(0.9);
	padding: 0.2rem;
}

/* Just the individual searchbar/submit elements */
.submit-button {
	border-radius: 90px;
	height: 2rem;
	width: 2rem;
}

.submit-button:hover {
	cursor: pointer;
}

.selected-location {
	font-size: 24px;
	margin-bottom: 0.5rem;
}

.date {
	margin-top: 0rem;
	margin-bottom: 1rem;
}

.current-temperature {
	font-size: 52px;
	margin: 0 0 0 0.4rem;
}

.weather-icon {
	width: 8rem;
	height: 8rem;
}

.line {
	width: 0.1px;
	height: 1rem;
}

.wind-icon {
	width: 1.8rem;
}

.temp-arrow-icon {
	width: 1.6rem;
}

.icon-filter {
	filter: opacity(100%);
}

.summary-windspeed {
	margin: 1rem 0.8rem 2rem 0;
	gap: 2.4rem;
}

.glassbox {
	margin: 2rem 0 2rem 0;
	padding-inline: 2rem;
	border-radius: 20px;
	backdrop-filter: blur(5px) brightness(0.9);
}

.white-colour {
	color: white;
}

.inverted {
	filter: invert(100%);
}
